{% extends 'basic_app/base.html' %}
{% block body_block %}
<br>
<br>
<br>
<br>
  <div class="container">
    <div class="row">
    <div class="col-xs-3 col-md-3"></div>
    <div class="col-xs-6 col-md-6">
    <div class="jumbotron">
      <h1>Please Login</h1>
      <br><br>

        <form method="post" action="{% url 'basic_app:user_login' %}">
          {% csrf_token %}
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" class="form-control" name="username" placeholder="Username">
            </div>

            <div class="form-group">

              <label for="password">Password:</label>
              <input type="password" class="form-control" name="password">
            </div>

            <input type="submit" class="btn btn-primary btn-md" name="" value="Login">
      </form>

    </div>
    </div>
    <div class="col-xs-3 col-md-3"></div>
    </div>
  </div>
{% endblock %}
